#loader1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.an {
  font-size: 15vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  top: 40%;
  left: 30%;
  padding: 3vh;
  border: 5px solid;
  border-radius: 10%;
}

.loader {
  position: fixed;
  left: 45%;
  bottom: 12vh;
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#world {
  opacity: 0;
  transition: opacity 0.5s ease;
}

body.loaded #loader1 {
  display: none;
}

body.loaded #world {
  opacity: 1;
}



@media only screen and (max-width : 105vh) {
  .sun {
    width: 13vh;
    min-height: 13vh;
  }

  .head {
    word-spacing: 80vh;
  }

  .more {
    margin-top: 3vh;
    margin-right: 1vh;
  }

  #background-video {
    height: 100%;
  }

  .planetim {
    width: 80vw;
  }


  #spaceship2 {
    display: none;
  }

  #spaceship3 {
    display: none;
  }


  .ship {
    rotate: 270deg;
    position: fixed;
    bottom: 0;
    margin-top: 60%;
  }

  #shiphov {
    rotate: 270deg;
    position: fixed;
    bottom: 0;
    margin-right: 40%;
    margin-top: 60%;
  }

  .AN {
    position: fixed;
    top: 4.7vh;
    left: 6.2vh;
    font-size: 3vh;
    font-weight: bolder;
  }

  .cal {
    top: 15vh;
  }
}

@media only screen and (min-width : 105vh) {
  .AN {
    position: fixed;
    top: 3vh;
    left: 4.8vh;
    font-size: 2vh;
  }

  .cal {
    top: 10vh;
  }

  #spaceship {
    display: none;
  }

  .shipL {
    rotate: 180deg;
  }

  #spaceship2 {
    z-index: 2;
    left: 2vh;
    width: 150px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -30%);
  }

  #spaceship3 {
    z-index: 2;
    right: 2vh;
    width: 150px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -30%);
  }

  #spaceship2 img {
    z-index: 2;
    width: 150px;
    color: white;
    transition: opacity 0.3s ease;
  }

  #spaceship3 img {
    z-index: 2;
    width: 150px;
    color: white;
    transition: opacity 0.3s ease;
  }

  .shipL {
    opacity: 1;
  }

  .shipR {
    opacity: 1;
  }

  #shiphovL {
    opacity: 0;
    rotate: 180deg;
    position: absolute;
    top: 50%;
    left: 2vh;
    transform: translate(0%, 50%);
  }

  #shiphovR {
    opacity: 0;
    position: absolute;
    top: 10%;
    right: 2vh;
    transform: translate(0%, -5%);
  }

  #spaceship2:hover .shipL {
    opacity: 0;
  }

  #spaceship3:hover .shipR {
    opacity: 0;
  }

  #spaceship2:hover #shiphovL {
    opacity: 1;
  }

  #spaceship3:hover #shiphovR {
    opacity: 1;
  }
}

.container {
  overflow: hidden;
}

.sliding-background {
  background: url("space.jpg") repeat-x;
  background-size: 360vh;
  height: 1000px;
  width: 9999999vh;
  position: fixed;
  top: 0;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-3000px, 0, 0);
  }
}

header {
  background-color: rgba(21, 1, 111, 0.825);
  color: rgb(255, 0, 0);
  font-size: 7vh;
  font-weight: bolder;
  padding-left: 8vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.AN {
  color: rgb(2, 2, 109);
  font-family: Impact;
  text-shadow: rgb(255, 106, 0) 0.1em 0.1em 0.2em;
  letter-spacing: 0.3vh;
}

.sun {
  height: 8vh;
  position: fixed;
  top: 0;
  left: 2vh;
  animation: spin 5s linear infinite;
}

.head {
  font-size: 6vh;
  color: rgb(255, 0, 0);
  bottom: 10vh;
  left: 8vh;
  right: 8vh;
  text-align: center;
  justify-content: center;
}

.more {
  position: fixed;
  right: 1vh;
  top: 1vh;
  font-size: 5vh;
  color: yellowgreen;
  background-color: transparent;
  border: 0;
  border-color: transparent;
}

.moreopt {
  position: fixed;
  right: 0;
  top: 13vh;
  padding: 3vh;
  border-radius: 10% 0 0 10%;
  background: slategrey;
  font-size: 5vh;
  color: white;
  display: none;
  z-index: 2;
}
.naam{
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;
  color: white;
  width: 80%;
  max-width: 72vh;
  height: 80%;
  max-height: 72vh;
  font-size: 5vh;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  background: red;
}
.planetim {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 72vh;
  z-index: 1;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}

.planetim:hover {
  box-shadow: 0 0 20px 10px rgba(0, 255, 255, 0.7);
  width: 85%;
  left: 50%;
}
.naam:hover {
  font-size: 0px;
}

/* .shiny-border {
  position: relative;
  display: inline-block;
}

.shiny-border:hover::before {
  content: "";
  position: fixed;
  top: 19%;
  left: 28%;
  width: 84%;
  max-width: 72vh;
  height: 84%;
  background: linear-gradient(45deg, rgba(255, 215, 0, 0.5), rgba(0, 255, 255, 0.5), rgba(255, 0, 255, 0.5), rgba(255, 255, 255, 0.5));
  border-radius: 50%;
  z-index: 0;
  animation: shiny 3s linear infinite;
}

@keyframes shiny {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} */

#spaceship {
  z-index: 2;
  position: absolute;
  top: 65%;
  right: 27%;
  width: 150px;
}

#spaceship img {
  z-index: 2;
  display: block;
  position: absolute;
  top: 50%;
  right: 1vh;
  width: 150px;
  color: white;
  transition: opacity 0.3s ease;
}

.ship {
  opacity: 1;
}

#shiphov {
  opacity: 0;
}

#spaceship:hover .ship {
  opacity: 0;
}

#spaceship:hover #shiphov {
  opacity: 1;
}

#spaceship:hover .which {
  opacity: 1;
}

#which {
  z-index: 3;
  display: none;
  position: absolute;
  top: 77%;
  right: 5%;
  width: 145px;
  color: black;
  padding: 8px;
  font-weight: bold;
  background: greenyellow;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

#which::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  border: 10px solid;
  border-color: transparent greenyellow transparent transparent;
}

.new {
  rotate: -90deg;
  width: 50vh;
  margin-bottom: 15vh;
  margin-top: 20vh;
}

.cal {
  position: absolute;
  right: 3vh;
  height: 10vh;
}
.mscal{
  position: absolute;
  right: 2vh;
  top: 2vh;
  color: white;
  padding: 3px;
  border: 3px solid #FFFFFF;
}

.x {
  justify-self: right;
  color: red;
  font-size: 30px;
  margin-bottom: -20px;
  margin-right: 20px;
  width: 2%;
}

.grass {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 66vh;
  background: linear-gradient(to bottom, #055629, #4caf50, #76c048);
  /*background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgQQlb7vRdiHHQJVi6e5L5jJ2CiIxgonywMw&s);
  background-repeat: repeat;
  background-size: 100%;
  overflow: hidden;*/
}

.road {
  position: fixed;
  bottom: 0;
  right: 5%;
  width: 90%;
  height: 66vh;
  clip-path: polygon(0% 100%, 100% 100%, 51% 0%, 49% 0%);
  background: linear-gradient(to bottom, #3B3838, #666666, #555252);
}

.Sun {
  position: fixed;
  font-size: 10vh;
}

.cloud {
  position: fixed;
  top: 0;
  right: 5vh;
  font-size: 15vh;
}

.tree {
  position: fixed;
  top: 28.5vh;
  width: 100%;
  height: 7vh;
  background-size: 6vh;
  background-image: url("https://em-content.zobj.net/source/google/412/deciduous-tree_1f333.png");
  background-repeat: repeat-x;
}


.sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 34vh;
  background: radial-gradient(circle at top left, #ffcccb, #ffe4b5, #add8e6, #87CEEB, #87CEEB);
}

.hills {
  position: fixed;
  left: -1vh;
  top: 14vh;
  width: 60%;
  height: 20vh;
  background: radial-gradient(circle at bottom, #7CFC00, #006400);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.hills2 {
  position: fixed;
  right: -1vh;
  top: 14vh;
  width: 60%;
  height: 20vh;
  background: linear-gradient(to top, #a1887f, #8d6e63, #6d4c41, #4e342e, #4e342e);
  ;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.mathcal {
  color: #B3B9FF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  border-radius: 10%;
  width: 26vh;
  height: 26vh;
  font-size: 8vh;
  background: #363A62;
  overflow: hidden;
  box-shadow: 5px 9px 11px #2C2D37;
  cursor: pointer;
}
.mathcal:hover{
  background: #2E314B;
}

.scroll a {
  color: #B3B9FF;
  text-decoration: none;
}

#mc0 {
  margin-top: 70vh;
}

#mc2,
#mc3,
#mc1 {
  margin-top: 20vh;
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
}

#blur {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #636363BD;
  display: none;
}

.calscr {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  padding: 10px;
  border: 3px solid #FF5D00E8;
  border-radius: 10%;
  background: #46485ED9;
  display: none;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  color: #00FFED;
}

.calscr h3 {
  color: #FBFF00;
}
.calscr h4{
  color: red;
  margin-top: -5px;
  margin-bottom: -3px;
}

.calscr input {
  width: 60px;
  background: transparent;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.calscr div {
  width: 80%;
  height: 20px;
  background: white;
  color: black;
  font-size: 20px;
  justify-self: center;
}
#area{
  display: none;
}
#csc {
  display: none;
}

.nexttrig {
  position: absolute;
  margin-top: -16px;
  display: flex;
  align-self: center;
  color: #3C00FF;
  font-weight: bolder;
  font-size: 5vh;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 3px;
  background: #01A8FF;
  border: 2px solid #6A6A6B;
  border-radius: 10px;
}
#lnt{
    left: 8px;
}
#rnt, #anext{
    right: 8px;
}
#rectangle, #pent, #hex, #hep{
  display: none;
}
