* {
  transition: all 0.2s ease-in-out;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: sans-serif;
}

header {
  display: inline-block;
  width: 100%;
  position: fixed;
  text-align: right;
  top: 2%;
  right: 1vh;
  font-size: 3vh;
  z-index: 2;
}

header i {
  cursor: pointer;
  padding: 2vh;
  text-align: center;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
}

header i:hover {
  background: radial-gradient(circle, #525252, #525252CF, #52525296, transparent);
}

#tm {
  width: 3vh;
  position: relative;
  right: 1vh;
}

#topt {
  display: none;
  position: fixed;
  right: 2vh;
  background-color: #3F3F3F;
  top: 13%;
  border-radius: 7%;
  padding: 3vh;
  font-size: 2.5vh;
  z-index: 2;
}

#topt div {
  cursor: pointer;
}

.bighr {
  width: 116%;
  position: relative;
  background-color: #FFFFFF61;
  right: 8%;
  border: none;
  height: 2px;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.hr {
  height: 1px;
  background-color: #FFFFFF26;
  border: none;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.active {
  color: #FFC400;
}

#arrow {
  font-size: 2vh;
  position: relative;
  bottom: 2vh;
}

#count {
  font-size: 2.5vh;
  color: grey;
  margin-top: 1vh;
}

#drop {
  display: none;
  position: fixed;
  top: 13vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2A2A;
  text-align: center;
  color: #FFFFFF;
  font-size: 3vh;
  z-index: 2;
  border-radius: 4vh 4vh 0 0;
  padding: 3vh;
}

.done {
  color: #FFAF00;
  position: absolute;
  left: 2vh;
  font-size: 3vh;
  z-index: 2;
  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
  cursor: pointer;
  border-radius: 3vh;
}

.done:hover {
  background: radial-gradient(ellipse at center, #525252, #525252CF, #52525296, transparent);
}

.nav {
  font-size: 5vh;
  font-weight: 500;
  cursor: pointer;
  z-index: 2;
  display: inline-block;
}

.hnav {
  position: relative;
  top: 10vh;
  margin-left: 5%;
}


#sticky {
  background: #000000;
  position: sticky;
  top: -7vh;
  height: 22vh;
  z-index: 1;
}

footer {
  background-color: #1B1B1B;
  text-align: center;
  padding: 2vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2vh;
  line-height: 1.9;
}

.nte i,
.todo i {
  font-size: 4vh;
}

.nte {
  float: left;
  margin-left: 15vw;
  cursor: pointer;
}

.todo {
  float: right;
  margin-right: 15vw;
  cursor: pointer;
}


#sear {
  position: fixed;
  right: 20%;
  left: 2%;
  top: 3%;
  font-size: 3vh;
  padding: 2vh 3vh;
  border-radius: 10vh;
  border: none;
  background-color: #3D3D3D;
  color: #FFFFFF;
  z-index: 2;
}

#cancel {
  color: #FFAF00;
  position: fixed;
  right: 2%;
  top: 5%;
  z-index: 2;
  font-size: 2.7vh;
  cursor: pointer;
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000CF;
  z-index: 2;
  display: none;
}

#toptcov {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}


#new {
  background-color: #FFB22D;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  font-size: 7vh;
  font-weight: 300;
  border-radius: 50%;
  display: flex;
  height: 8vh;
  width: 8vh;
  position: fixed;
  bottom: 14vh;
  right: 5%;
  z-index: 1;
  cursor: pointer;
}

#new:hover {
  height: 7vh;
  width: 7vh;
  font-size: 6vh;
  bottom: 15vh;
  right: 5.7%;
}

.note {
  position: relative;
  font-size: 3vh;
  margin-top: 2vh;
  background-color: #1E1E1E;
  padding: 2vh;
  border-radius: 2vh;
  cursor: pointer;
  margin-right: 1vh;
  margin-left: 1vh;
}

.note:hover {
  background-color: #4B4B4B;
}

.notes {
  margin-bottom: 15vh;
}

#f1,
#f2 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  z-index: 3;
  display: none;
}

#title,
#ctitle {
  background-color: transparent;
  position: fixed;
  left: 2vh;
  right: 0;
  border: none;
  color: #FFFFFF;
  font-size: 5vh;
  outline: none;
  top: 9vh;
  display: flex-flow;
  font-family: poppins;
}

#content,
#ccontent {
  background-color: transparent;
  position: fixed;
  left: 2vh;
  right: 0;
  border: none;
  color: #FFFFFF;
  font-size: 3vh;
  outline: none;
  top: 18vh;
  display: flex-flow;
  height: 100%;
  font-family: roboto;
}

#ihead {
  background-color: #000000;
  
}

.tick {
  position: fixed;
  top: 1vh;
  right: 3vh;
  font-size: 5vh;
  cursor: pointer;
}

.cross {
  position: fixed;
  top: 1vh;
  left: 3vh;
  font-size: 6vh;
  cursor: pointer;
}

.non {
  color: gray;
  text-align: center;
  margin-top: 40%;
  font-size: 3vh;
}

.delnote {
  position: absolute;
  top: 1vh;
  right: 1vh;
  background: #d63031;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  display: none;
  cursor: pointer;
}

.bn {
  color: grey;
  font-size: 2vh;
  text-align: right;
  display: flex;
  position: absolute;
  right: 7px;
  bottom: 5px;
}

.nn {
  color: grey;
  font-size: 2.5vh;
  position: absolute;
  right: 2vh;
}

.hn {
  margin-top: 0vh;
  font-family: poppins;
}

.cn {
  margin-top: -2.5vh;
  color: #B0B0B0;
  font-size: 2.5vh;
  font-family: roboto;
}

#timer {
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
  text-align: center;
  height: 60vh;
  font-size: 4vh;
}

#but {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1vh;
  column-gap: 1vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#but input {
  border-radius: 50px;
  width: 20vh;
}

.tt {
  font-size: 5vh;
}

#timer input {
  background-color: transparent;
  color: #FFFFFF;
  outline: none;
  display: flex-flow;
  font-size: 3.6vh;
  font-family: poppins;
  cursor: pointer;
}


#block {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  z-index: 2;
  padding: 2vh;
}

#block h1 {
  margin-top: 50%;
}
#drop div{
  display: none;
}
.secytgt{
  display: block;
  background: #4F4F4F;
  border-radius: 1vh;
  margin-top: 1vh;
}
